.validationErrorsContainer {
  color: #ce8f22;
  background: #fffcee none;
  box-shadow: none;
  text-shadow: none;
  padding: 9px 19px 9px 15px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #F0DBB4;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  margin-top: 10px;
}