.postForm {
}

.addPhoto {
  color: #c7c7c7;


  > div {
    text-align: center;
  }

  i {
    margin: 0 auto;
    width: 50%;
    display: block;
    font-size: 64px;
  }
}
input, textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #e7e7e7;
  outline: none;
  margin: 0;
  width: 100%;
}

.details {
  resize: none;
  border: none;
}

.imagesContainer {
}

.postButton {
  width: 100px;
  float: right;
}

.postButtonContainer {
  display: inline-block;
  width: 100%;
}