@mixin subText() {
  color: #9da6aa;
  font-size: 12px;
  text-align: center;
  line-height: 29px;
}

@mixin lightFont() {
  font-family: Open Sans Light, sans-serif;
  color: #989c9e;
}

@mixin rotate($degree) {
  transform: rotate($degree);
  -ms-transform: rotate($degree);
  -webkit-transform: rotate($degree);
}

$userImgHeightWidth: 35px;

.post {
  border-bottom: solid 1px #e7e7e7;
  padding-bottom: 10px;
}

.imageTile {
  overflow: hidden;
  background-color: #bcbcbc;
  color: #ffffff;
  position: relative;
  max-height: 314px;

  img {
    height: 100%;
    width: 100%;
  }
}

.hashtag {
  display: inline-block;
  border: 2px solid #e5e9ec;
  background-color: transparent;
  color: #b9bec2;
  padding: 2px 8px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 12px;
  margin-right: 10px;
}

.iconStyle {
  color: #b6bfc5;

  i {
    margin-right: 5px;
    margin-left: 10px;
  }
}

.userDetails {

}

.userProfilePic {
  position: relative;
  z-index: 200;
  text-align: left;
  margin: -30px 0 0 24px;

  img {
    border-radius: 100px 100px 100px 100px;
    display: inline-block;
    height: 68px;
    overflow: hidden;
    width: 68px;
    border: 5px solid #ffffff;
    background-color: #e5e9ec;
    vertical-align: middle;
  }
}

.additionalDetails {
  margin-right: 20px;
  float: right;

  .postLinksContainer {
    display: block;
    padding: 10px 0;
  }
}

.postDetails {
  margin-left: 0;
  padding-top: 10px;
}

.timeContainer {
  margin-top: 35px;
  padding-right: 20px;
  float: right;
  text-align: right;
}

.userName {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  font-weight: bold;
}